/*body {
    background-image: url("../images/pink.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #293251;
}*/

* {
    font-family: "Rimouski";
}

.location {
    text-align: center;
    font-size: 20px;
    color: black;
}

.container {
    width: 300px;
    height: 500px;
    background-color: white;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 50px;
    text-align: center;
}

.app-title {
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.weather-container {
    width: 400px;
    height: 300px;
    background-color: #F4F9FF;
    text-align: center;
    margin-top: 150px;
}

.weather-icon {
    width: 300px;
    height: 128px;
    line-height: 30px;
    text-align: center;
}

.weather-icon img {
    display: inline;
    position: absolute;
    margin: 0 auto;
    left: 300px;
    text-align: center;
}

.date {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 15px;
    font-weight: bold;
}

.temperature-value {
    width: 400px;
    height: 60px;
    line-height: 30px;
    font-weight: bolder;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: #293251;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    font-weight: bolder;
}

.temperature-value span {
    color: #293251;
    line-height: 30px;
}

.temperature-description p {
    padding: 8px;
    margin: auto;
    color: #293251;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
}

.location {
    margin: auto;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 20px;
    overflow: auto;
    font-weight: bolder;
}

.locati p {
    margin: auto;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 20px;
    overflow: auto;
    font-weight: bolder;
}

.container button {
    display: inline-block;
    margin: 10px;
}